.container {
  position: relative;
  padding: 0 1rem;
  width: 70%;
  max-width: 1920px;
  min-width: 330px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.blurEffect {
  filter: blur(2px);
}
